@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0; 
    height: 100vh; 
    justify-content: center;
    align-items: center;
}
.contact__container {
    display: flex;
    margin: 10px 80px 0px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* margin: 20px 20px 0px 20px; */
    
    padding: 20px 10px 10px 0;
    border: 2px solid rgba(0, 136, 169, 1);
    border-radius: 20px;
}
.contact__container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 59px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}

.contact__container p {
    color: #d2d2d2;
}

.contact__container p,
input,
textarea,
label {
    font-family: 'Montserrat', sans-serif;
}



form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 5px;
    width: 100%;
    color: #edf0f1;
    border-radius: 10px;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit] {
    background-color: #545557;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: #FFF;
    color: #1b1c1e;
}

input,
textarea {
    color: white;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #828282;

}

.card__container a {
    color: #edf0f1;
    font-style: italic;
}

.card__container a:hover {
    color: #fff;
}