
.introduction{
    position: relative;
    text-align: center;
    
    
}
.introduction img{
    width: 1512px;
    height: 600px;
    opacity: 0.2;
    border-radius: 10px;
}
.introduction h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    background: none;
}
.introduction p{
    margin-top: 6vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6vw;
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    background: none;
}
.introduction button{
    margin-top: 14vw;
    width: 100px;
    height: 100px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    background: none;
    background-color: rgba(0, 136, 169, 1);
    border: 1px solid rgba(0, 136, 169, 1);
    border-radius: 40%;
    transition: all 0.3s ease 0s; 
    cursor:pointer;
}
.introduction button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}


/* #background1{
    position: absolute;
    width: 1512px;
    height: 800px;
    opacity: 0.5;
} */
.hr__design{
    border: 1px solid #24252A;
}
.card__container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
}
.card{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 0.7vw;
    width: 1000px;
}
.card img{
    width: 500px;
    margin-left: 10px;
    border-radius: 30px;
    border:#24252A;  
    height: 500px;
    margin-right: 40px;
}

.card__content{
    justify-content: center;
    border: 5px solid rgba(0, 136, 169, 1);
    border-radius: 30px;
    font-size: 1.3vw;
    color: white;
    /* width: -webkit-fill-available; */
    /* white-space: nowrap; */
    overflow: hidden;
    padding: 10px; 
    background-color: #0088a9;
    height: 500px;
    width: 500px;
    align-items: center;
}
.card__content ul{
    list-style-type:none;
}
.card__content ul li{
    list-style-type:none;
}
.card__content li:before {
    content: '\2022'; /* Unicode character for a bullet point */
}

.card__content h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.card__content h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.card__title{
    padding: 10px;
    border-radius: 10px;
}



.card__content li{
    list-style-type: dot;
    background-color: #0088a9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.reveal{
    transform: translateY(150px);
    transition: all 2s ease;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}





