@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    background-color: #24252A;
}

.navbar li,a,button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3vw; 
    color: #edf0f1; 
    text-decoration: none;

}

header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%; 
}
.logo__container img{
    cursor:zoom-in;
    transition: transform 2s ease;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ label > img{
    transform: scale(1.85);
    cursor:zoom-out;
    border: 2px solid rgba(0, 136, 169, 1);
}
.logo {
    cursor: pointer; 
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.nav__links{
    list-style: none;

}
.nav__links li{
    display: inline-block;
    padding: 0px 20px; 
}
.nav__links li a{
    transition: all 0.3s ease 0s; 
}
.nav__links li a:hover{
    color: #0088a9; 
}
.cta button{
    padding: 9px 25px; 
    background-color: rgba(0, 136, 169, 1);
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    transition: all 0.3s ease 0s; 
}

.cta button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
.introduction{
    position: relative;
    text-align: center;
    
    
}
.introduction img{
    width: 1512px;
    height: 600px;
    opacity: 0.2;
    border-radius: 10px;
}
.introduction h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    background: none;
}
.introduction p{
    margin-top: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    background: none;
}
.introduction button{
    margin-top: 10vw;
    width: 100px;
    height: 100px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    background: none;
    background-color: rgba(0, 136, 169, 1);
    border: 1px solid rgba(0, 136, 169, 1);
    border-radius: 40%;
    transition: all 0.3s ease 0s; 
    cursor:pointer;
}
.introduction button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}


/* #background1{
    position: absolute;
    width: 1512px;
    height: 800px;
    opacity: 0.5;
} */