@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sucess__container{
    border: 5px solid rgba(0, 136, 169, 1);
    border-radius: 50px;
    padding: 50px;
}
.sucess__container h1,p,a{
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
}
.sucess__container p{
    margin-top: 10px;
}

.sucess__container a{
    margin-top: 100px;
    color: #0088a9;
    cursor: pointer;
}
.sucess__container a:hover{
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px;
}
